.app {
    font-family: 'Roboto', sans-serif;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(/assets/background.jpg) no-repeat;
      background-position: center;
      background-size: cover;
  }