
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="text-uppercase fs-3">Some Rules of thiz Quiz</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    
    <mat-card-content>
      <div class="font-monospace fs-5">
        <p>
            1. you will have only <span class="fw-bold text-primary">30</span> seconds per each question.
          </p>
          <p>
            2.correct question gives you <span class="fw-bold text-primary">10</span>points
          </p>
          <p>
            3.incorrect question gives you <span class="fw-bold text-primary">-10</span> points
            
          </p>
          <p>
            4.refreshing the page will reset the <span class="fw-bold text-primary">Game</span><span class="fw-bold text-primary"></span>
          </p>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions>
        <h2>GOOD LUCK</h2>
        <span class="example-spacer"></span>
      <button mat-raised-button routerLink="/question" color="primary">continue</button>
    </mat-card-actions>
  </mat-card>
  

